<form method="post" action="/animals">
  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field"/>

  <label for="type-field">Type:</label>
  <input type="text" name="type" id="type-field"/>

  <label for="adoptable-field">Adoptable:</label>
  <input type="boolean" name="adoptable" id="adoptable-field"/>

  <label for="admission-date-field">Admission date:</label>
  <input type="date" name="admission_date" id="admission-date-field"/>

  <label for="photo-field">Photo:</label>
  <input type="text" name="photo_url" id="photo-field"/>

  <label for="owner-field">Owner:</label>
  <input type="text" name="owner_id" id="owner-field"/>

  <input type="submit" value="Add new animal to list">
</form>
