<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="https://d30y9cdsu7xlg0.cloudfront.net/png/61386-200.png" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <a href="/animals/index"><li><img class="logo" src="https://groundsandhoundscoffee.com/wp-content/uploads/2014/03/pet-refuge-logo.png"></li></a>
        <a href="/owners/index"><li class="nav-link">All owners</li></a>
        <% if session[:name] == nil %>
          <a href="/sessions/login"><li class="nav-link">Log in</li></a>
        <% else %>

          <div class="dropdown">
            <button class="dropbtn">View animals
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/animals/index"><li class="nav-link">All animals</li></a>
              <a href="/animals/adoptable"><li class = "nav-link">Ready for adoption</li></a>
              <a href="/animals/unadoptable"><li class = "nav-link">Not ready yet</li></a>
            </div>
          </div>

          <a href="/animals/new"><li class="nav-link">Add new animal</li></a>
          <a href="/owners/new"><li class="nav-link">Add new owner</li></a>
          <a href="/sessions/logout"><li class="nav-link">Log out</li></a>
          <li>Currently logged in as <%= session[:name] %></li>

          <form method = "get" action = "/search">
            <input type="text" name="search_input"/>
            <input type="submit" value="Search by animal name or type">
          </form>

        <% end %>
      </ul>
    </nav>
    <div class = container-main>
    <%= yield %>
    </div>
  </body>
</html>
