<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/owners/index">Owners</a></li>
        <li><a href="/animals/index">Animals</a></li>
      </ul>
    </nav>
    <div class = container-main>
    <%= yield %>
    </div>
  </body>
</html>
