img {
  width: auto;
  height: 200px;
  margin: auto;
  display: block;
}

.container {
  border: solid 1px black;
  margin: 0 1% 2% 1%;
  padding: 0 1% 2% 0;
  display: inline-block;
  width: 28%;
  background-color: lightsteelblue;
}

li {
  list-style-type: none;
}

.logo {
  width: 200px;
  height: auto;
}

.container p {
  text-align: center;
  font-size: 16px;
  font-family: "Trebuchet MS";
}

.container img {
  border: solid 3px black;
  width: auto;
  margin-left: 20px;
  padding: auto;
  margin: auto;
}

.navbar ul li {
  float: left;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.navbar {
  display: inline-block;
}

a:link    {
  text-decoration: none;
  color: white;
  }

a:visited {
  text-decoration: none;
  color: white;
  }

.nav-link {
  background-color: #4CAF50;
}

.nav-link:hover {
  background-color: #45a049;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#delete-button {
  background-color: red;
  width: 300px;
  margin-left:28px;
}

#edit-button {
  background-color: #4CAF50;
  width: 300px;
  margin-left:28px;
  margin-top: 20px;
}

/*Drop down*/

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}
