img {
  width: auto;
  height: 200px;
  margin: auto;
  display: block;
}

.container {
  border: solid 1px black;
  margin: 0 1% 2% 1%;
  padding: 0 1% 2% 0;
  display: inline-block;
  width: 28%;
  background-color: lightsteelblue;
}

li {
  list-style-type: none;
}

.logo {
  width: 200px;
  height: auto;
}

.container p {
  text-align: center;
  font-size: 16px;
  font-family: "Trebuchet MS";
}

.container img {
  border: solid 3px black;
}

.navbar ul li {
  float: left;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.navbar {
  display: inline-block;
}

a:link    {
  text-decoration:  none;
  font-weight:      bold;
  }

a:visited {
  text-decoration: none;
  font-weight: bold;
  }

.nav-link {
  background-color: lightsteelblue;
}
