<form method="post" action="/sessions">

  <label for="name-field">Name:</label>
  <input type="text" name="name" id="name-field"value="name"/>

  <label for="password-field">Password:</label>
  <input type="text" name="password" id="password-field" value="password"/>

  <input type='submit' value="Log in">

</form>
